.h1{
font-size:130%; 
margin-left:15px;
}


.content{
 margin-top:22px;
background-size:70% 35%; 
}

.blue-box{
height:4px;
width:20px;  
margin-top:63px;
}
.hire{
width:60px;
height:20px; 
font-size:80%; 
margin-top:47px;
margin-left:11%;
background-size:15px 15px; 
}

#line-height{
height:590px; 
width:12.390625%;
background:#0c0c0c; 
border-left: solid 2px #1f1f1f; 
margin-left:7.296875%;
margin-top:35px;

}




li{
margin-bottom:15.7px;
}

.dick-start{	
margin-top:16px;
}

.namber{
margin-top:17px;
font-size:90%; 
margin-left:-6.3%;
}

.home{ 	
margin-top:17px;
margin-left:2%;
font-size:90%; 
}

.namber02{
font-size:90%; 
margin-left:2%;
margin-top:151px;
}
.namber03{
font-size:90%; 
margin-left:2%;
margin-top:286px;
}
.namber04{
font-size:90%;  
margin-left:2%;
margin-top:422px;
}
.namber05{
font-size:90%; 
margin-left:2%;
margin-top:555px;
}


.content-footer{
display:flex; 	
flex-flow:column wrap; 
align-items:flex-end; 
width:94.8660714286%; 
margin-top:50px;
height:300px; 
}

.footh1{
margin-bottom:5px;
font-size:110%;  
 margin-top: 20px;
 }

.footh2{
margin-bottom:5px;
font-size:110%; 
margin-top: 20px;
}


.footh3{
margin-bottom:5px;
font-size:110%; 
margin-top: 20px;
}

.global{
margin-left:1.9515625%;
font-size:126%;
}


.foot1{
width:90%;	

}
.foot2{
width:90%;	
margin-left:7.14285714286%;


}
.foot3{
width:90%;	
margin-left:7.14285714286%;

}
.logo{
width: 30px;
height: 28px;
margin-left:3.775%;
margin-top:26px;
position: fixed;
}

.global{
margin-left:13.6515625%;
margin-top:3.25555555556vh;
font-size:126%;
position: fixed;
}

.nav{
width:30px;
height:14px;   
margin-top:-22px;
position: fixed;
margin-left:83%;
}











.slide2{
height:742px;
width:100%; 	
margin-top:-70%;
}


.hire2{
height: 30px;
width: 90px;
background-color:#0f33ff;  
padding-top:4px;
font-size:130%;
margin-left:27%;
text-align:center; 
}


.selected{
font-size:200%; 
margin-left: 8%;
margin-top:60px;

}
.left-box{
height:0px; 
width: 0px;
background-color:#282828;    
border-radius:100px; 
align-self:center; 
margin-top:-60%;
}

.right-box{
height:0px; 
width: 0px;
min-width:30px; 
background-color:#282828;  
border-radius:100px; 
align-self: center;
margin-left:84%;
margin-top:-60%;
}
.left{
height:0px; 
width: 0px;  
margin-left:5px;
padding-top:5px;
}
.right{
height:0px; 
width: 0px;
margin-left:5px;
padding-top:5px;
}



.footer2{
font-size:120%; 	
align-self:flex-start;
text-align:center;
width:100%; 
padding-top:70px;
margin-left: -6%;
}


.left-con{
height:0px;
width:0%;	
background-image:url(images/work-victory1.png);
background-repeat:no-repeat; 
background-size:73%;
background-position:35px 10px; 
display:flex;
justify-content:flex-start;

}


.center-con{
height:230px;
width:79%;	
background-image:url(images/work-metiew-smith1.png);
background-repeat:no-repeat; 
background-size:90%;
background-position:center right; 
display:flex; 
margin-left:3%;
}
.right-con{
height:0px;
width:0%;	
background-image:url(images/work-alex-nowak1.png);
background-repeat:no-repeat; 
background-size:63%;
background-position:0px 5px ; 
display:flex;
justify-content:flex-end;

}

#line-height2{
height:500px; 
width:15.390625%;
background:#0c0c0c; 
border-left: solid 2px #1f1f1f; 
margin-left:7.296875%;
margin-top:18%;
}

.li2{
margin-bottom:10px;	

}
.li1{
margin-top:10px;	
color:#ffffff; 
}
.li3{	
color:#ffffff; 
margin-bottom:10px;
}

.li4{	
color:#0f33ff; 
margin-bottom:10px;
}


.namber-2{
position:absolute; 	
margin-top:12px;
margin-left:1.7%;
font-size:90%; 

}

.namber02-2{
font-size:90%; 
position:absolute; 
margin-left:-7.7%;
margin-top:127px;
}
.works{
position:absolute;	
margin-top:128px;
margin-left:2.7%;
font-size:90%; 
}

.namber03-2{
font-size:90%; 
position:absolute; 
margin-left:1.7%;
margin-top:239px;
}
.namber04-2{
font-size:90%; 
position:absolute; 
margin-left:1.7%;
margin-top:352px;
}
.namber05-2{
font-size:90%; 
position:absolute; 
margin-left:1.7%;
margin-top:465px;
}























.namber3{
position:absolute; 	
margin-top:22px;
margin-left:1.3%; 
font-size:100%; 
}

.about{
position:absolute; 	
margin-top:294px;
margin-left:1.3%;
font-size:120%; 
font-size:100%; 
}


.namber03-3{
font-size:120%; 
position:absolute; 
margin-left:-5.2%;
margin-top:293px;
font-size:100%; 
}

.namber02-3{
font-size:120%; 
position:absolute; 
margin-left:1.3%;
margin-top:158px;
font-size:100%; 
}

.namber04-3{
font-size:100%; 
position:absolute; 
margin-left:1.3%;
margin-top:427px;
}
.namber05-3{
font-size:100%; 
position:absolute; 
margin-left:1.3%;
margin-top:560px;
}





.slide3{
width:100%;	
height:940px;
margin-top:-15%;
}

.header3{
width:100%;
height:35px; 	
display:flex;
flex-flow:row nowrap;
justify-content:center;  
}
.hire3{
height: 30px;
width: 90px;
background-color:#0f33ff;  
padding-top:4px;
font-size:130%;
text-align:center; 
}
.content-box{
display:flex;
flex-flow:row wrap;  

}
.content3{
margin-top:40px;
height:720px;
width:77%;
background-image:url(images/about-visual.png);
background-repeat:no-repeat;
background-position: 99% -60px;
background-size:55% 80%; 
}

.h3{
font-size:250%; 
font-weight:bold; 
margin-top:30px;
}


.career{
font-size:140%; 
background-image:url(images/right-arrow.png);
background-size:24px 24px;
background-repeat:no-repeat; 
background-position:center right;
width:110px;
margin-top:92px;
height:30px;
}


.photo-box{
display:flex; 	
margin-top:130px;
margin-right:20px;
}

img.photo1{
height:80px;
width:30%;
border:solid 5px #0f33ff; 
margin-right:20px;
}
img.photo2{
height:80px;
width:30%;
border:solid 5px #0f33ff; 
margin-right:20px;
}



img.photo3{
height:80px;
width:30%;
border:solid 5px #0f33ff; 
margin-right:2px;
}
.romb{
width:12px; 
height: 12px;
background-color: #0f33ff;
position: absolute;
margin-left: 150px;
margin-top: -460px;
-moz-transform: rotate(45deg); /* Для Firefox */
    -ms-transform: rotate(45deg); /* Для IE */
    -webkit-transform: rotate(45deg); /* Для Safari, Chrome, iOS */
    -o-transform: rotate(45deg); /* Для Opera */
    transform: rotate(45deg);
}
.square1{
width:12px; 
height: 12px;
background-color: #0f33ff;
position: absolute;
margin-left: 130px;
margin-top: -350px;
position: absolute;
}



.triangle{
width:0;
height:0;
border-bottom:13px solid #0f33ff; 	
border-left:8px solid transparent;
border-right:8px solid transparent;  
-moz-transform: rotate(45deg); /* Для Firefox */
    -ms-transform: rotate(45deg); /* Для IE */
    -webkit-transform: rotate(45deg); /* Для Safari, Chrome, iOS */
    -o-transform: rotate(45deg); /* Для Opera */
    transform: rotate(45deg);
position: absolute;
margin-top:-530px;
margin-left:120px;
}


.round{
height:20px;
width:20px;
border-radius:100px; 	
background-color:#0f33ff;
position: absolute;
margin-top:-480px;
margin-left:99px;
}




















.slide4{
width:100%;	
height:940px;
margin-top:-40%;
background-image:url(images/contact-visual.png);
background-repeat:no-repeat;
background-position:60px 120px;
background-size:90% 40%; 
}


.contact{
position: absolute;
font-size:90%;
margin-top:423px;
margin-left:1.3%;
}

.namber04-4{
position: absolute;
margin-left:-6%;
margin-top:423px;
font-size:90%;
}





.namber-4{
position:absolute; 	
margin-top:15px;
margin-left:1.3%;
font-size:120%; 

}






.content4{
height:260px;
width:70%;  	
margin-top: -130px;
background-color:#0c0c0c;
margin-left:25%;
display:flex;
flex-flow: row wrap;
}

.blank1{
text-align:center;
margin-top:20px;
width:35%;

}
.blank2{
text-align:center;
margin-top:20px;
width:35%;
margin-left:8px;
}

.blank3{
	text-align:center;
margin-top:2px;
width:35%;
margin-left:-3px;
}

.blank4{
text-align:center;	
height:41px; 
width:35%; 
background-color:#1769ff;
padding-top:3.3%;
margin-left:25px;
margin-top:-9px;

}


.blank5{
text-align:center;	
height:41px; 
width:35%;  
background-color:#ea4c89; 
padding-top:3.5%;
margin-left:-1px;
margin-top:5px;

}

.blank6{
text-align:center;	
height:41px; 
width:35%; 
background-color:#0f33ff; 
padding-top:3.5%;
margin-left:23px;
margin-top:5px;

}



.namber-4{
position:absolute; 	
margin-top:15px;
margin-left:1.3%;
font-size:110%; 

}


#line-height4{
height:595px; 
width:12.390625%;
background:#0c0c0c; 
border-left: solid 2px #1f1f1f; 
margin-left:7.296875%;
margin-top:35px;

}












.slide5{
width:100%;	
height:800px;
margin-top:5%; 
}

.namber05-5{
position: absolute;
margin-left:-6%;
font-size:100%; 
margin-top:559px;
}
.hire5{
position: absolute;
margin-left:2%;
font-size:100%; 
margin-top:559px;
}









label{
width:32%; 
height:50px;
border:solid 2px #ffffff;
text-align:center; 
padding-top:10px;
font-size:100%; 
}


.submit{
width:45%;
height: 45px; 	
background-color:#0f33ff; 
border:none;
color:#ffffff;
font-size:120%;
font-weight:bold;
}


.you{
	font-size:250%;
margin-top: -560px;
}


.form{
width:60%;	
height:570px;
margin-left:21%;
margin-top:30px;

}



label:active{
width:26%; 
height:50px;
border:solid 2px #ffffff;
text-align:center; 
padding-top:10px;
font-size:100%; 
background-color:#0f33ff;
}
label:hover{
width:26%; 
height:50px;
border:solid 2px #ffffff;
text-align:center; 
padding-top:10px;
font-size:100%; 
background-color:#0f33ff;
}





.submit{
width:75%;
height: 50px; 	
background-color:#0f33ff; 
border:none;
color:#ffffff;
font-size:130%;
font-weight:bold;
}


.radio-box5{
display:flex; 
flex-flow:row nowrap; 
margin-top:50px;
justify-content:center; 
}

.radio-box4{
display:flex; 
flex-flow:row nowrap; 
margin-top:40px;
justify-content:space-between; 
}
